* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body,
html {
    height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0px;
}

p {
    margin: 0px;
}


/*============================================================*/

.js-pscroll {
    position: relative;
    overflow: hidden;
}

.table100 .ps__rail-y {
    width: 9px;
    background-color: transparent;
    opacity: 1 !important;
    right: 5px;
}

.table100 .ps__rail-y::before {
    content: "";
    display: block;
    position: absolute;
    background-color: #999696;
    border-radius: 5px;
    width: 100%;
    height: calc(100% - 30px);
    left: 0;
    top: 15px;
}

.table100 .ps__rail-y .ps__thumb-y {
    width: 100%;
    right: 0;
    background-color: transparent;
    opacity: 1 !important;
}

.table100 .ps__rail-y .ps__thumb-y::before {
    content: "";
    display: block;
    position: absolute;
    background-color: #ffffff;
    border-radius: 5px;
    width: 100%;
    height: calc(100% - 30px);
    left: 0;
    top: 15px;
}

.table-body {
    margin: 100px;
}

.container-table100 {
    width: 100%;
    min-height: 100vh;
    background: #fff;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 33px 30px;
}

.table100 {
    background-color: #fff;
}

table {
    width: 100%;
}

th,
td {
    font-weight: unset;
}

.column1 {
    width: 10%;
    padding-left: 20px;
}

.column2 {
    width: 10%;
}

.column3 {
    width: 10%;
}

.column4 {
    width: 10%;
}

.column5 {
    width: 10%;
}

.column6 {
    width: 20%;
}

.column7 {
    width: 10%;
}

.column8 {
    width: 10%;
}

.column9 {
    width: 10%;
}

.table100-head th {
    padding-top: 18px;
    padding-bottom: 18px;
}

.table100-body td {
    padding-top: 16px;
    padding-bottom: 16px;
}

.table100 {
    position: relative;
    padding-top: 60px;
}

.table100-head {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
}

.table100-body {
    max-height: 1500px;
    overflow: auto;
}

.table100.ver1 th {
    font-size: 10px;
    color: #fff;
    line-height: 1.4;
    background-color: #083f3a;
}

.table100.ver1 td {
    font-size: 10px;
    color: #030303;
    line-height: 1.4;
}

.table100.ver1 .table100-body tr:nth-child(even) {
    background-color: #f8f6ff;
}

.table100.ver1 {
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);
    -webkit-box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);
    -o-box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);
    -ms-box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);
}

.table100.ver1 .ps__rail-y {
    right: 5px;
}

.table100.ver1 .ps__rail-y::before {
    background-color: #ebebeb;
}

.table100.ver1 .ps__rail-y .ps__thumb-y::before {
    background-color: #cccccc;
}